header {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.header__title {
    font-family: Inter;
    font-weight: 500;
}

.header__container {
    display: flex;
    margin: auto;
    max-width: var( --container_width);
}