main {
    height: 1036px;
    background-color: var(--grey-1);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.main__container {
    max-width: var( --container_width);
}