@import './reset.css';
@import '../fonts/fonts.css';

@import '../../components/button/button.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --yellow: #d6bb21;
    --green: #19851991;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --header-height: 90px;
    --footer-height: 50px;

    --border-radius: 7px;
    --button-height: 48px;
}

* {
    font-family: 'Roboto', sans-serif;
}

.has-text-centered {
    text-align: center;
}

header {
    background-color: var(--red);
    height: var(--header-height);
}

nav {
    background-color: var(--yellow);
    width: 40%;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
}

main {
    background-color: var(--green);
    padding: 1rem;
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
    box-sizing: border-box;
    margin: 0;
}

article {
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--primary);
}

footer {
    background-color: var(--red);
    height: var(--footer-height);
}