footer {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: var( --container_width);
}

.footer__article {
    max-width: 640px;
    margin: auto;
    padding-top: 3rem;
    font-family: Inter;
    font-weight: 400;
}

.footer__title {
    font-family: Inter;
    font-weight: 500;
}