footer {
    text-align: center;
    padding-top: 5rem;
}

.footer__article {
    width: 640px;
    margin: auto;
    padding-top: 3rem;
    font-family: Inter;
    font-weight: 400;
}

.footer__title {
    font-family: Inter;
    font-weight: 500;
}